<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Calculator</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href="./css/calculator.css" rel="stylesheet" />
</head>

<body>
    <div class="container calculator mt-5">
        <div class="row">
            <div class="col results" id="result">
                0
                <!-- Dato de prueba (para generar front). Eliminar -->
            </div>
        </div>
        <!--Eliminar si no lo encuentran necesario-->
        <div class="row">
            <div class="col current-function" id="current-function">
                +
                <!-- Dato de prueba(para generar front). Eliminar -->
            </div>
        </div>
        <div class="row">
            <div class="col button function-button" id="button-add">
                +
            </div>
            <div class="col button function-button" id="button-subtract">
                -
            </div>
            <div class="col button function-button" id="button-multiply">
                x
            </div>
            <div class="col button function-button" id="button-divide">
                /
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col button number-button" id="button-7">
                        7
                    </div>
                    <div class="col button number-button" id="button-8">
                        8
                    </div>
                    <div class="col button number-button" id="button-9">
                        9
                    </div>
                </div>
                <div class="row">
                    <div class="col button number-button" id="button-4">
                        4
                    </div>
                    <div class="col button number-button" id="button-5">
                        5
                    </div>
                    <div class="col button number-button" id="button-6">
                        6
                    </div>
                </div>
                <div class="row">
                    <div class="col button number-button" id="button-1">
                        1
                    </div>
                    <div class="col button number-button" id="button-2">
                        2
                    </div>
                    <div class="col button number-button" id="button-3">
                        3
                    </div>
                </div>
                <div class="row">
                    <div class="col button number-button border-down-left" id="button-0">
                        0
                    </div>
                    <div class="col button number-button" id="button-dot">
                        .
                    </div>
                    <div class="col button number-button" id="button-c">
                        C
                    </div>
                </div>
            </div>
            <div class="col-3 equals-button border-down-right" id="button-equals">
                =
            </div>
        </div>
    </div>

</body>

<!-- Import .js files here -->
<script src="./js/index.js" rel="javaScript"></script>

</html>